@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.modal {
  backdrop-filter: blur(8px); /* Blur effect for the modal background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
